body {
  font-family: Arial, sans-serif;
  background: #f7f6f0;
  color: #111;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.service-group {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.monitor {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 0.75rem 0;
  width: 100%;
  margin-left: 15px;
}
.monitor strong {
  width: 40%;
}
.monitor .statusCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
}





.status.up {
  color: green;
}

.status.down {
  color: red;
}

.status.unknown {
  color: #777;
}

.error {
  color: red;
}